.navbar-sub-section {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

.navbar-btns {
  position: absolute;
}

.navbar-btn {
  background: none;
  border: none;
}

.hamburger-icon {
  height: 30px;
  width: 40px;
}

.intro-container {
  background: url(./assets/property-mobile.jpg);
  height: 100vh;
  background-size: cover;
}

.navbar-btns {
  display: flex;
  flex-direction: column;
  width: 20%;
  row-gap: 5px;
  transition: all 1s ease-in-out;
}

.navbar-open {
  transform: translateX(0);
}

.navbar-close {
  transform: translateX(-100%);
}

.estates-container {
  background-color: bisque;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.estate-card {
  width: 300px;
  gap: 10px;
  position: relative;
}

.estate-image {
  width: 100%;
  height: 200px;
}

.estate-title {
  font-size: 28px;
  color: rgb(50,50,50);
  font-weight: 700;
  margin-left: 12px;
}

.estate-description {
  font-size: 15px;
  margin-left: 12px;
  color: grey;
  font-size: 14px;
  font-weight: bold;
}

.estate-price {
  font-size: 25px;
  font-weight: 600;
  color: rgb(148,112,84);
  background-color: white;
  position: absolute;
  left: 10px;
  top: 150px;
  padding: 2px 10px;
}

.estate-type {
  background-color: rgb(148,112,84);
  padding: 7px 15px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 12px;
}

.estate-address {
  font-size: 14px;
  font-weight: 600;
  color: rgb(180,149,124);
}

.estate-icon-bedroom {
  width: 22px;
  height: 22px;
}

.estate-buy-btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.estate-buy-btn {
  width: 120px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: #fb9ec4;
  border: none;
}

.estate-link-to-details {
  text-decoration: none;
  background-color: bisque;
  color: black;
  font-weight: 900;
  width: 92%;
  padding: 6px 0;
  text-align: center;
  align-self: center;
  display: none;
}

.estate-title,
.estate-description {
  text-align: justify;
}

.estate-detail-sub-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

.estate-detail-image {
  width: 100%;
}

.estate-card,
.estate-detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 25px 0;
  margin: 10px;
  background-color: white;
}

.quantity-controller {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.quantity-screen {
  width: 60px;
  text-align: center;
}

.quantity-increaser,
.quantity-decreaser {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #fb9ec4;
  font-size: 24px;
  font-weight: 500;
}

.cart-overall {
  padding: 10px;
}

.cart-table {
  background-color: bisque;
  border-collapse: collapse;
}

.cart-container {
  background-color: white;
}

td {
    padding: 30px 0;
}

.cart-table,
.cart-container,
.cart-container tr {
  width: 100%;
}

.cart-table-head {
  line-height: 60px;
}

.cart-img {
  width: 75px;
  height: 75px;
}

.cart-name-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-name {
  font-size: 12px;
  width: 75px;
}

.checkout-link {
  text-decoration: none;
  background-color: #fb9ec4;
  padding: 10px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  float: right;
  margin: 20px;
}

.cart-name-image-container,
.cart-price,
.cart-qty,
.remove-item-btn-cart {
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: 585px) {
  .intro-container {
    background: url(./assets/findProperty.jpg);
    background-size: cover;
  }

  .estate-detail-card {
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
  }

  .estate-detail-sub-container {
    width: 300px;
    background-color: bisque;
    padding: 30px;
  }

  .estate-detail-image {
    width: 400px;
    height: 400px;
  }
}
